@mixin media-from($width) {
  @media screen and (min-width: $width) {
   // @content;
  }
}
@mixin media-up-to($width) {
  @media screen and (max-width: $width + 1px) {
    // @content;
  }
}
@mixin hide-from($width) {
  @include media-from($width) {
    display: none;
  }
}
@mixin hide-up-to($width) {
  @include media-up-to($width) {
    display: none;
  }
}