/*------------------------------------*\
    #COLORS
\*------------------------------------*/
// #BASE COLORS
$color-white: #ffffff;
$color-offwhite: #f7f7f7;
$color-black: #272727;
$color-grey: #999dab;
$color-medium-grey: #8f8f8f;
$color-dark-grey: #757575;
$color-light-grey: #e2e3e6;
$color-green: #10d48e;
$color-light-green: #28efa8;
$color-dark-green: #0ca56e;
$color-medium-blue: #204660;
$color-dark-blue: #132a3a;
$color-red: #ff6054;

// #TEXT
$color-title: $color-dark-blue;
$color-subtitle: rgba($color-title, 0.5);
$color-text: $color-black;
$color-subtle-text: rgba($color-text, 0.5);
$color-placeholder: rgba($color-dark-green, 0.5);
$color-label: rgba($color-title, 0.5);
$color-label-white: $color-white;
// #BUTTON
$color-action: $color-green;
$color-accent: $color-action;
$color-disabled: rgba($color-medium-grey, 0.5);
$color-button-text: $color-dark-green;
$color-button-text-white: $color-white;
// #UTILS
$color-border: rgba($color-dark-green, 0.2);
$color-border-focus: rgba($color-dark-green, 0.5);
$color-highlight: rgba($color-dark-green, 0.05);
$color-white-half-transparency: rgba($color-white, 0.5);
$color-conversation-user: $color-dark-green;
$color-conversation-bot: $color-light-grey;
$color-background: $color-offwhite;
/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/
$font-family-default: 'Lato', sans-serif;
$font-family-monospace: 'Chakra Petch', sans-serif;
$font-family-robotomono: 'Roboto Mono', monospace;
$font-weight-default: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-size-default: 14px;
$font-size-large: 18px;
$font-size-small: 11px;
$line-height-default: 1.4;
$line-height-medium: 1.67;
/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
$alpha-width: 540px;
$beta-width: 900px;
$charlie-width: 1200px;
$spacing-L: 32px;
$spacing: 20px;
$spacing-XL: $spacing * 2;
$spacing-M: 15px;
$spacing-S: 10px;
$spacing-XS: 5px;
$gutter: $spacing;
$site-max-width: $charlie-width + $gutter * 2;
$header-size: 63px;
$aside-menu-size: 321px;
$aside-menu-link: 60px;
/*------------------------------------*\
    #BORDERS
\*------------------------------------*/
$border-default: 1px solid $color-border;
$border-default-focus: 1px solid $color-border-focus;
$border-radius-default: 4px;
$border-radius-rounded: 8px;
$border-radius-round: 21px;
/*------------------------------------*\
    #BOX-SHADOWS
\*------------------------------------*/
$box-shadow-default: 0 0 10px 0 rgba($color-dark-blue, 0.1);
$box-shadow-dark: 0 0 5px 0 rgba(0, 0, 0, 0.15);
/*------------------------------------*\
    #ANIMATION
\*------------------------------------*/
$animation-speed-default: 0.2s;
$animation-speed-slow: 0.5s;
$animation-ease-default: ease-out;
/*------------------------------------*\
    #Z-INDEX
\*------------------------------------*/
$z-base: 1;
$z-header: 10;
$z-menu: $z-header / 2;
$z-modal: $z-header;
/*------------------------------------*\
    #SCROLLBAR
\*------------------------------------*/
$scrollbar-background-color: $color-dark-grey;
$scrollbar-border-radius: 10px;
$scrollbar-width: 0.5em;